<!DOCTYPE html>

<html lang="en">
    <head>
        <title>ML PREDICTION</title>
    </head>
    <body>
        <h1>ML PREDICTION CAR BUY OR NOT</h1>
        
        <form action="/predict" method="POST">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" required>
            <button type="submit">Predict</button>
        </form>

{% if prediction is not none %}
<h2>Prediction results: 1- BUYS  0- Not able to buy</h2>
<p>For age: {{age}} and for salary {{salary}}</p>
<p>Prediction result: {{prediction}}</p>
{% endif %}

    </body>
</html>
